<IfModule mod_rewrite.c>
    RewriteEngine On

    ## Redirect requests to index.php (except data and public directory).
    Rewritecond %{REQUEST_FILENAME} !/data
    Rewritecond %{REQUEST_FILENAME} !/public
    RewriteRule ^ index.php [QSA,L]
</IfModule>
